<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-left">
      <h2 class="mx-auto text-uppercase">종이 계약서? 이젠 안녕!
        쉽고 안전한 새로운 계약 표준의 시작!</h2>
      <p class="text-black-50 mx-auto mt-2 mb-5">법적 보호를 받을 수 있는 안전하고 편리한 새로운 기술!</p>
      <span>
      <a pageScroll href="#about" class="btn btn-primary js-scroll-trigger">START FREE TRIAL</a>
      &nbsp;
      <a pageScroll href="" class="btn btn-light js-scroll-trigger">WATCH DEMO</a>
    </span>
    </div>
    <div class="mx-6 d-none d-md-block">
      <img src="/assets/img/frontpage/ipad-sign.png" style=" max-height:300px;">
    </div>
  </div>
</header>
