<section>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-small-long btn-white">
        삭제
      </button>
      <button class="btn btn-small-long btn-white">
        하위 부서/팀 관리
      </button>
      <button (click)="openModal()" class="btn btn-small-long btn-white">
        팀원 관리
      </button>
    </div>
  </div>
  <div class="row" style="margin-left: 15px;margin-right: 15px;">
    <div class="row my-2" style="background: #fff;">
      <div class="col-4 pt-2" style="border-bottom: solid 1px #000000;">
        <select class="form-control">
          <option>이름</option>
        </select>
      </div>
      <div class="col-8 pt-2" style="border-bottom: solid 1px #000000;">
        <form [formGroup]=formSearch>
          <div class="input-group mb-3">
            <input type="text" formControlName='searchText' class="form-control" [placeholder]=""
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary border-0" style="color: #000000;" type="button"
                id="button-addon2">
                <fa-icon [icon]="faSearch" class="fa-1x"></fa-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12" style="height: 400px;overflow: auto;width: 450px;">
        <div class="clt">
          <ul class="active">
            <ng-container *ngFor="let department of empDataList.department;let i = index">
              <li id="department-{{i}}">
                <span class="caret">{{department.d_name}}</span>
                <ul class="nested">
                <ng-container *ngFor='let tames_list of empDataList.tames;let j = index'>
                    <li *ngIf='tames_list.d_id == department.d_id'>
                      <span class="caret">{{tames_list.t_name}}</span>
                    <ul class="nested">
                      <ng-container *ngFor='let emp_list of empDataList.emp;let k = index'>
                          <li *ngIf='tames_list.t_id == emp_list.t_id'>
                            {{emp_list.e_name}}
                          </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ul>
              </li>
            </ng-container>
            <!-- <li>
              <span class="caret">Fruit</span>
              <ul class="nested">
                <li>
                  <span class="caret">Red</span>
                  <ul class="nested">
                    <li>Cherry</li>
                    <li>
                      <span class="caret">Yellow</span>
                      <ul class="nested">
                        <li>Banana</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="caret">Yellow</span>
                  <ul class="nested">
                    <li>Banana</li>
                    <li>
                      <span class="caret">Fruit</span>
                      <ul class="nested">
                        <li>
                          <span class="caret">Red</span>
                          <ul class="nested">
                            <li>Cherry</li>
                            <li>
                              <span class="caret">Yellow</span>
                              <ul class="nested">
                                <li>Banana</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <span class="caret">Yellow</span>
                          <ul class="nested">
                            <li>Banana</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span class="caret">Meat</span>
                      <ul class="nested">
                        <li>Beef</li>
                        <li>Pork</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <span class="caret">Meat</span>
              <ul class="nested">
                <li>Beef</li>
                <li>
                  <span class="caret">Fruit</span>
                  <ul class="nested">
                    <li>
                      <span class="caret">Red</span>
                      <ul class="nested">
                        <li>Cherry</li>
                        <li>
                          <span class="caret">Yellow</span>
                          <ul class="nested">
                            <li>Banana</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span class="caret">Yellow</span>
                      <ul class="nested">
                        <li>Banana</li>
                        <li>
                          <span class="caret">Fruit</span>
                          <ul class="nested">
                            <li>
                              <span class="caret">Red</span>
                              <ul class="nested">
                                <li>Cherry</li>
                                <li>
                                  <span class="caret">Yellow</span>
                                  <ul class="nested">
                                    <li>Banana</li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <span class="caret">Yellow</span>
                              <ul class="nested">
                                <li>Banana</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <span class="caret">Meat</span>
                          <ul class="nested">
                            <li>Beef</li>
                            <li>Pork</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
