<div class="bg-modal" *ngIf="show">
    <!-- Modal -->
    <div class="modal fade show" style="display: block;padding-right: 17px;" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-0" style="background: transparent">
          <div class="modal-header rounded-0" style="background: #ffffff;color: #000000;">
            <h5 class="modal-title" id="exampleModalLabel">링크 보내기</h5>
            <button type="button" style="color: #000000;" (click)="closeModal()" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body rounded-0" style="background: #ffffff;color: #000000;">
            <div class="row">
                <div class="col-md-3">
                    Short URL 
                </div>
                <div class="col-md-9">
                    <input type="file">
                </div>
                <div class="col-md-3">
                    계약서 명     
                </div>
                <div class="col-md-9">
                    <label>표준근로계약서 2020_CP</label>
                </div>
                <div class="col-md-3">
                    만료일
                </div>
                <div class="col-md-9">
                    <label>2020/04/30</label>
                </div>
                <div class="col-md-3">
                    비밀번호
                </div>
                <div class="col-md-9 d-flex">
                    <select class=" form-control">
                        <option>
                            사용
                        </option>
                    </select>
                    <input type="text" class=" form-control">
                </div>
                <div class="col-md-3">
                    모바일 인증
                </div>
                <div class="col-md-9">
                    <select class=" form-control">
                        <option>
                            사용
                        </option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer rounded-0 d-flex justify-content-center" style="background: #ffffff;color: #000000;">
            <button type="button" class="btn btn-middle-short btn-white" (click)="onClickBtn('btnCancel')">취소</button>
            <button type="button" class="btn btn-middle-short btn-black" (click)="onClickBtn('btnConfirm')">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>