<section class="container" style="margin-top: 100px;">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7 py-3 text-center">
      <img src="../../../assets/img/admin/logo_gcont2x.png" class="img-fluid" width="125" />
    </div>
  </div>


  <div class="row d-flex justify-content-center">

    <div class="col-md-5 py-3 d-flex justify-content-center">
      <form [formGroup]=formLogin style="width: 100%;">
        <div class="form-group row">
          <div class="col-sm-12">
            <!-- <input type="email" class="form-control" formControlName='email' id="staticEmail"
              placeholder="업무용 이메일을 입력해주세요">
            <small class="form-text text-muted mt-1 text-validators {{validators.email}}">이메일 규칙을 확인해주세요.</small> -->

            <input type="text" class="form-control" formControlName='username' id="staticEmail"
              placeholder="업무용 이메일을 입력해주세요">
            <small class="form-text text-muted mt-1 text-validators {{validators.username}}">이메일 규칙을 확인해주세요.</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="password" class="form-control" (keyup.enter)="onLogin()" maxlength='20' minlength='8' formControlName='password' id="staticpassword"
              placeholder="영어, 숫자 또는 특수문자 조합 8 ~ 20자 이내">
            <small class="form-text text-muted mt-1 text-validators {{validators.password}}">패스워드 규칙을 확인해주세요.</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <small class="form-text text-muted mt-1"><a href="#/forgotpassword">회원 가입 | 비밀번호 찿기</a></small>
          </div>
        </div>
        <div class="form-group row d-flex justify-content-center"><button type="button" (click)="onLogin()" [disabled]='disabledBtn' class="btn btn-outline-info">
          로그인
        </button>
        </div>
      </form>
    </div>
  </div>
</section>
