@import '../../../assets/scss/frontpage/variables.scss';

.bg-testimonial{
  background: #F3F4F7;
}


.card-testimonial{
  background: #D1D1D1;
  color: black;
}

.card-testimonial:hover{
  background: #111111;
  color: white;
}
