<section class="bg-testimonial p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <p class="color-blue text-left">Testimonial</p>
        <h3 class="text-black text-left">사용자 피드백</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 my-2 cp">
        <div class="card mb-3 h-100 w-100 card-testimonial">
          <div class="row no-gutters">
            <div class="col-2 col-md-1 text-right">
              <img src="../../../assets/img/frontpage/Group 38677@2x.png" class="img-fluid mt-4 ml-3" alt="...">
            </div>
            <div class="col-10 col-md-11 p-1">
              <div class="card-body">
                <h5 class="mb-0 color-blue">Nir Toledano</h5>
                <p class="mb-3 color-blue">Manager, Pan Advanced Printing</p>
                <p class="card-text">People are using CRM to quickly and effectively run their online business. With our full suite of marketing, sales, and creation solutions, you can focus on what matters to you most: creating content, sharing your story, and making sales.</p>
                <p class="card-text">Build sustainable relationships with your customers, leads, and subscribers. Managing clients just got easier!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-2 cp">
        <div class="card mb-3 h-100 w-100 card-testimonial">
          <div class="row no-gutters">
            <div class="col-2 col-md-1 text-right">
              <img src="../../../assets/img/frontpage/Group 38677@2x.png" class="img-fluid mt-4 ml-3" alt="...">
            </div>
            <div class="col-10 col-md-11 p-1">
              <div class="card-body">
                <h5 class="mb-0 color-blue">Kibbutz Movement</h5>
                <p class="mb-3 color-blue">Task Division</p>
                <p class="card-text">Our division deals with national missions, and my department handles commissions for these missions. We make about 4,000 mailings every day to recruit people for these commissions.</p>
                <p class="card-text">I would like to express our appreciation to CRM for their software. It helps us seek out and connect with people efficiently, and it's fast and cost-effective. I also want to mention the software's wide range of capabilities and the many ways it lets us connect with people.</p>
                <p class="card-text">
                  CRM has also given us the best service we have had for questions and requests.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <p>01 -------- 04</p>
      </div>
    </div>
  </div>
</section>
