<div style="position: sticky;" class="d-flex justify-content-between align-items-center py-2 shadow-sm">

  <div class="d-flex justify-content-center px-2">
    <span class="">
      {{page.pagenumber}}
    </span>
    <span class="">
      &nbsp;/&nbsp;
    </span>
    <span class="">
      {{page.maxpage}} &nbsp; 페이지
    </span>
    <!-- <div class="sursor-pointer cha-page" (click)='backPage()'>
      &#60; &nbsp;&nbsp; </div>
    <input class="form-control-sm" max="{{page.maxpage}}" lang="2" min="1" type="number" name="page" id="page"
      (change)="changePage()" value="1" [(ngModel)]='thispage'>
    <div>
      &nbsp;of {{this.page.maxpage}}
    </div>
    <div class="sursor-pointer cha-page" (click)='nextPage()'>
      &nbsp;&nbsp; &#62;
    </div> -->
  </div>

  <div class="d-flex justify-content-center px-2">
    <button class="btn btn-circle-small btn-white-circle">
      <fa-icon [icon]="faPlus" class="fa-1x"></fa-icon>
    </button>
    <button class="btn btn-circle-small btn-white-circle">
      <fa-icon [icon]="faMinus" class="fa-1x"></fa-icon>
    </button>
  </div>

  <div class="d-flex justify-content-center px-2">
    <button class="btn btn-small-long btn-white" (click)="onCancelEditors()">
      취소
    </button>
  </div>

</div>
<div class="container-fluid px-0">
  <div class="d-flex" id="wrapper">
    <div  id="sidebar-wrapper" class="bg-back-tools d-flex justify-content-center">
      <app-tools-editor-pdf [configTools]='{}' (evnentSelectColor)='colorText($event)'
        (evnentAddFabric)='addFabric($event)'></app-tools-editor-pdf>
    </div>
    <div id="page-content-wrapper" style="background: #E9E9E9;">
      <div class="d-flex justify-content-center align-items-center">
        <div class="view-pdf" id='view-pdf-div' (scroll)="scrollHandler($event)">
          <div class="d-flex">
            <div class="d-flex justify-content-center w-100">
              <pdf-viewer [src]="pdfSrc[1].src" [render-text]="false" (page-rendered)="pageRendered($event)"
                style="display: block;" [render-text]="true">
              </pdf-viewer>
            </div>
          </div>
        </div>
        <div class="page-view p-2">
          <div *ngFor="let image of imagePage; let i = index" [attr.data-index]="i"
            [ngClass]='page.pagenumber == (i + 1) ? "sursor-pointer page-border action w-100 d-flex justify-content-center p-1 my-2" : "sursor-pointer page-border w-100 d-flex justify-content-center p-1 my-2"'
            (click)="clickPage(i)">
            <img src='{{image}}' class="img-fluid">
          </div>
        </div>
      </div>
      <!-- <div class="row">
          <div class="col-6 p-2 text-right">
            <app-tools-signature-pad (signatureObjFabric)='addFabric($event)'>
            </app-tools-signature-pad>
          </div>
          <div class="col-6 p-2 text-left">
            <div class="btn btn-danger" (click)='testPdf()'>
              Download PDF
            </div>
          </div>
        </div> -->
      <!-- <div class="row">
          <div class="col-6 text-center my-3">
            <div class="btn btn-outline-info" (click)='getObjectInCanvas()'>
              Check Object Canvas
            </div>
          </div>
          <div class="col-6">
            <app-upload-file-pdf (selectFilePDF)='selectFilePDF($event)'></app-upload-file-pdf>
          </div>
        </div> 
      -->
    </div>
  </div>
</div>
<div *ngIf='loading' class="d-flex justify-content-center align-items-center"
  style="position: fixed; width: 100vw;height: 100vh;z-index: 99999 !important;top: 0;background: rgba(0,0,0,0.75);">
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>