<section class="w-100" style="background-color: #e2e6eb;">
  <h3><b>계약 현황</b></h3>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <h5><b>MY 요청된 계약</b></h5>
      <p>
        <span style="color:#a4a4a4;border-bottom: solid 3px red;padding-bottom: 10px;">
          (건)
        </span>
      </p>
      <label class="my-2 font-40"><b>3,480</b></label>
    </div>
    <div class="col-sm-9 col-md-10 d-flex flex-wrap mx-0" style="padding-left: 13px;">
      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">생성</span></p>
          <label class="my-3">783</label>
        </div>
      </div>
      
      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">전송</span></p>
          <label class="my-3">30</label>
        </div>
      </div>


      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">진행중 </span></p>
          <label class="my-3">55</label>
        </div>
      </div>


      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">완료</span></p>
          <label class="my-3">1</label>
        </div>
      </div>


      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">취소</span></p>
          <label class="my-3">2</label>
        </div>
      </div>


      <div class="body-card">
        <div class="h-100 shadow rounded d-flex flex-column justify-content-center align-items-center number-card">
          <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">반려 </span></p>
          <label class="my-3">0</label>
        </div>
      </div>



      <!-- <div class="row h-100">
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">생성</span></p>
            <label class="my-3">783</label>
          </div>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">전송</span></p>
            <label class="my-3">30</label>
          </div>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">진행중 </span></p>
            <label class="my-3">55</label>
          </div>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">완료</span></p>
            <label class="my-3">1</label>
          </div>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">취소</span></p>
            <label class="my-3">2</label>
          </div>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <div class="w-100 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center py-4"
            style="background: #ffffff;">
            <p><span style="border-bottom: solid 2px red;padding-bottom: 10px;">반려 </span></p>
            <label class="my-3">0</label>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row my-3">                                    
    <div class="col-md-8 mt-2">
      <!--  d-flex flex-column justify-content-center -->
      <div class="w-100 h-100 shadow rounded"
        style="background: #ffffff !important;padding: 30px 20px 30px 20px ;">
        <h5 class="text-left w-100 px-5"><b>계약별 체결 증가 추이 </b></h5>
        <div class="chart-wrapper">
                  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="w-100 h-100 shadow rounded" style="background: #ffffff;padding: 30px 0px 30px 0px;">
        <div class="row">
          <div class="col-12 d-flex justify-content-between px-5">
            <h5 class="tit-lis-001">공지사항</h5>
            <fa-icon [icon]="faPlus" class="fa-1x"></fa-icon>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="list-group">
              <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <label class="tit_lis_itm_001">카카오톡 알림톡 서비스 문제 → 문자메시지로 전환합니다. </label>
                </div>
                <p class="tit_lis_itm_sub_001">안녕하세요. 베리드사인에서 카카오 서비스...  </p>
                <small class="tit-lis-itm-dat-001">2020.03.26 </small>
                <hr class="line-border">
              </div>
              <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <label class="tit_lis_itm_001">카카오톡 서비스 재개 안내</label>
                </div>
                <p class="tit_lis_itm_sub_001">안녕하세요. 베리드사인에서 카카오 서비스... </p>
                <small class="tit-lis-itm-dat-001">2020.03.26 </small>
              </div>                                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>