.body-card{
    min-width: 120px;
    min-height: 150px;
    width: 16.66%;
    padding: 0px 5px 5px 5px;
}
.number-card {
    background: #ffffff;
}

.list-group-item{
    border: 0px solid transparent !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

hr.line-border{
    border: 1px solid #eeeeee !important;
    margin-top: 15px;
}
