<section>
  <div class="row">
    <div class="col-12 mt-3">
      <label class=""><b>환불/취소 요청 문의 상세</b></label>
    </div>
  </div>
  <div class="row my-2">
    <!-- <div class="col-md-6">
      <div class="row">
        <div class="col-3 py-3" style="border-right: solid 1px #cccccc;">
          <label class="m-0">
            <b>
              등록일
            </b>
          </label>
        </div>
        <div class="col-9 py-3">
          2020/05/02 12:56:02
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-3 py-3" style="border-right: solid 1px #cccccc;">
          <label class="m-0">
            <b>
              상태
            </b>
          </label>
        </div>
        <div class="col-9 py-3">
          답변완료
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-12">
      <div class="row">
        <div class="col-3 py-3" style="border-right: solid 1px #cccccc;">
          <label class="m-0">
            <b>
              문의 내용
            </b>
          </label>
        </div>
        <div class="col-9 py-3">
          일번 조항에 나와 있는 내용에 문제가 있습니다. 다음과 같이 수정 후 계약서 재발송을 요청 드립니다. 1,0000
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-3 py-3" style="border-right: solid 1px #cccccc;">
          <label class="m-0">
            <b>
              답변 내용
            </b>
          </label>
        </div>
        <div class="col-9 py-3">
          고객님 결제 취소가 불가하여 환불 처리하였습니다. 승인번호: 79234598 건은 해당 카드사에서 환불 처리가
        </div>

      </div>


    </div>-->
    <div class="col-12">
      <table class="w-100 table" style="background: #fff;">
        <tbody>
          <tr>
            <th class="text-center" style="width: 10%;border-right: solid 1px #cccccc;">
              등록일
            </th>
            <td class="text-left" style="width: 40%;">
              2020/05/02 12:56:02
            </td>
            <th class="text-center" style="width: 10%;border-right: solid 1px #cccccc;">
              상태
            </th>
            <td class="text-left" style="width: 40%;">
              답변완료
            </td>
          </tr>
          <tr>
            <th class="text-center" style="border-right: solid 1px #cccccc;">
              문의 내용
            </th>
            <td colspan="3" class="text-left">
              일번 조항에 나와 있는 내용에 문제가 있습니다.
              <br>
              다음과 같이 수정 후 계약서 재발송을 요청 드립니다. 1,0000
            </td>
          </tr>
          <tr>
            <th class="text-center" style="border-right: solid 1px #cccccc;">
              답변 내용
            </th>
            <td colspan="3" class="text-left">
              고객님 결제 취소가 불가하여 환불 처리하였습니다.
              <br>
              승인번호: 79234598 건은 해당 카드사에서 환불 처리가
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
