<section>
  <div class="row">
    <div class="col-12 mt-3">
      <label class=""><b>환불/취소 요청 문의</b></label>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <table class="w-100 table table-hover" style="background: #fff;">
        <thead class="">
          <tr>
            <th class="text-center">
              등록일
            </th>
            <th class="text-center">
              문의
            </th>
            <th class="text-center">
              상태
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let t of td">
            <tr>
              <td class="text-center">
                {{t.registrationDate}}
              </td>
              <td class="text-left">
                {{t.question}}
              </td>
              <td class="text-center">
                {{t.state}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
