<section class="container-fluid" style="background: #e2e6eb;">
        <div class="row my-3">
          <div class="col-md-6">
            <div>
              <h4 class="p-2">프로필 상세</h4>
            </div>
            <div class="row py-2 mx-2" style="background: #fff;">
              <div class="col-md-3 my-1"><label>회원 유형</label></div>
              <div class="col-md-9 my-1">기업 </div>
              <div class="col-md-3 my-1"><label>기업명</label></div>
              <div class="col-md-9 my-1">아이비즈</div>
              <div class="col-md-3 my-1"><label>대표 이메일</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="이메일 입력"
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>대표 전화번호</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="전화번호 입력"
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>주소</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="주소 입력"
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <h4 class="flex-grow-1 bd-highlight p-2">사용자 구분</h4>
            </div>
            <div class="row py-2  mx-2" style="background: #fff;">

              <div class="col-md-3 my-1"><label>현재 비밀번호</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="현재 비밀번호 입력"
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>새 비밀번호</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="새 비밀번호 입력  "
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>새 비밀번호 변경</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement"
                    placeholder="변경 된 새 비밀번호 입력" id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <h4 class="p-2">비밀번호</h4>
            </div>
            <div class="row py-2 mx-2" style="background: #fff;">
              <div class="col-md-3 my-1"><label>담당자 명</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="현재 비밀번호 입력"
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>부서/팀</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="새 비밀번호 입력  "
                    id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>직급</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement"
                    placeholder="변경 된 새 비밀번호 입력" id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>담당자 이메일</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement"
                    placeholder="변경 된 새 비밀번호 입력" id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col-md-3 my-1"><label>담당자 연락처</label></div>
              <div class="col-md-9 my-1">
                <div class="form-inline p-0">
                  <input type="text" class="form-control" style="width: 95%;" name="Agreement"
                    placeholder="변경 된 새 비밀번호 입력" id="exampleInputAgreement" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        <!-- -******- -->
        <div class="row mt-3">
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-big btn-crimson">
              다음
            </button>
          </div>
        </div>
</section>
