// Start Button Css E-Contact

.btn-big {
  padding-left: 40px !important;
  padding-right: 40px !important;
  height: 50px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-middle-long {
  padding-left: 40px !important;
  padding-right: 40px !important;
  height: 36px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-middle-short {
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 36px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-small-long {
  padding-left: 16px !important;
  padding-right: 16px !important;
  height: 26px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-small-short {
  padding-left: 10px !important;
  padding-right: 10px !important;
  height: 26px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-verysmall {
  padding-left: 6px !important;
  padding-right: 6px !important;
  height: 20px !important;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-circle-big {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 4px 2px;
  font-size: 1rem;
}

.btn-circle-small {
  border-radius: 50%;
  width: 25;
  height: 25px;
  margin: 4px 2px;
  font-size: 0.5rem;
}

.btn-middle-long > .icon-btn {
  padding-right: 8px;
  color: red;
}

.btn-gray {
  background: #999999 !important;
  color: #ffffff !important;
}

.btn-gray:hover {
  background: #7e7e7e !important;
  color: #ffffff !important;
}

.btn-gray:disabled {
  background: #999999 !important;
  color: #d3d3d3 !important;
  cursor: not-allowed;
}

.btn-crimson {
  background: #b91414 !important;
  color: #ffffff !important;
}

.btn-crimson:hover {
  background: #a50606 !important;
  color: #ffffff !important;
}

.btn-crimson:disabled {
  background: #ecc2c2 !important;
  color: #ffffff !important;
  cursor: not-allowed;
}

.btn-white {
  background: #ffffff !important;
  color: #000000 !important;
  border: solid 1px #bbbbbb !important;
}

.btn-white:hover {
  background: #eeeeee !important;
  color: #000000 !important;
  border: solid 1px #bbbbbb !important;
}

.btn-white:disabled {
  background: #eeeeee !important;
  color: #000000 !important;
  border: solid 1px #bbbbbb !important;
  cursor: not-allowed;
}

.btn-white-circle {
  border: solid 1px #bbbbbb;
  color: #bbbbbb !important;
  background: #ffffff;
}

.btn-white-circle:hover {
  border: solid 1px #000000;
  color: #000000 !important;
  background: #ffffff;
}

.btn-white-circle:disabled {
  background: #eeeeee !important;
  color: #bbbbbb !important;
  border: solid 1px #bbbbbb !important;
  cursor: not-allowed;
}

.btn-black {
  background: #34373c !important;
  color: #ffffff !important;
}

.btn-black:hover {
  background: #151515 !important;
  color: #ffffff !important;
}

.btn-black:disabled {
  background: #bbbec4 !important;
  color: #ffffff !important;
  cursor: not-allowed;
}

.btn-lightred {
  background: #ffffff !important;
  color: #bbbbbb !important;
  border: solid 1px#bbbbbb;
}

.btn-lightred:hover {
  background: #fa5970 !important;
  color: #ffffff !important;
}

.btn-lightred:disabled {
  background: #bbbec4 !important;
  color: #ffffff !important;
  cursor: not-allowed;
}

.btn-search {
  color: #000 !important;
  border: 1px solid #ced4da !important;
  background: #fff !important;
  border-left: none !important;
}

.btn-bt-arrow {
  border-radius: 0px !important;
  background-color: fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  border: solid 1px #000000;
  z-index: 1;
}

 .btn-bt-arrow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  // border-color: black transparent transparent transparent;
  border-color: transparent transparent transparent transparent;
}

.btn-bt-arrow-red {
  border-radius: 0px !important;
  background-color: #b91414;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

 .btn-bt-arrow-red::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  // border-color: black transparent transparent transparent;
  border-color: #b91414 transparent transparent transparent;
}

.btn-bt-arrow {
  visibility: visible;
}
// End Button Css E-Contact

// Start Input Css E-Contact
