.bg-modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999 !important;
  }
  .bg-gray {
    background: #c3c3c3;
  }