<section class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>계약서 정보 입력</h3>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">사업주</label>
            <input type="text" class="form-control" name="Agreement" placeholder="사업주" id="exampleInputAgreement"
              aria-describedby="emailHelp">
            <small id="AgreementHelp" class="form-text text-muted"></small>
          </div>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">근로자</label>
            <input type="text" class="form-control" name="Agreement" placeholder="근로자" id="exampleInputAgreement"
              aria-describedby="emailHelp">
            <small id="AgreementHelp" class="form-text text-muted"></small>
          </div>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <label>근로계약기간</label>
          <div class="form-inline">

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">년</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">월</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">일</label>
            </div>

            <div class="form-group mx-sm-3 mb-2 mx-4">
              <label>~</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">년</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">월</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">일</label>
            </div>
          </div>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">업무내용</label>
            <input type="text" class="form-control" name="Agreement" placeholder="업무내용" id="exampleInputAgreement"
              aria-describedby="emailHelp">
            <small id="AgreementHelp" class="form-text text-muted"></small>
          </div>
        </div>
      </div>


      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <label>소정근로시간</label>
          <div class="form-inline">

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">시</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">분</label>
            </div>

            <div class="form-group mx-sm-3 mb-2 mx-4">
              <label>~</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">시</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">분</label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-inline">
            <label>( 휴게시간 : </label>
            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">시</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">분</label>
            </div>

            <div class="form-group mx-sm-3 mb-2 mx-4">
              <label>~</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">시</label>
            </div>

            <div class="form-group mb-2 mx-1">
              <select for="inputselect0" class="form-control">
                <option></option>
              </select>
              <label for="inputselect0" class="mx-1">분</label>
            </div>
            <label>)</label>
          </div>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">임금</label>
            <div class="col-12 form-inline p-0">
              <input type="text" class="form-control" style="width: 95%;" name="Agreement" placeholder="임금"
                id="exampleInputAgreement" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="mx-4">원</label>
            </div>

            <small id="AgreementHelp" class="form-text text-muted"></small>
          </div>
        </div>
      </div>

      <!-- -******- -->
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button type="button" class="btn btn-big btn-crimson">
            다음
          </button>
        </div>
      </div>
</section>
