<!-- <footer class="small text-center text-white-50">
  <div class="container text-black-50">
    Copyright &copy; Your Website 2019
  </div>
</footer> -->
<!-- Footer -->
<footer class="page-footer font-small indigo pb-2">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <img src="../../../assets/img/frontpage/logo.png" class="img-fluid">
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="#!" class="color-black my-3">hello@crm.com</a>
          </li>
          <li class="my-3">
            <a href="#!" class="color-black my-5">(972) 3-5603536</a>
          </li>
          <li class="my-3">
            <a href="#!" class="color-black my-5">Haim Pekeris Street 4<br>
              Rehovot 7670204, USA</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Products</h5>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="#!" class="color-black">CRM Bee</a>
          </li>
          <li class="my-3">
            <a href="#!" class="color-black">CRM Cheque</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pricing</h5>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="#!" class="color-black my-5">About us</a>
          </li>
          <li class="my-3">
            <a href="#!" class="color-black my-5">Support</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>
        <ul class="list-unstyled" style="display: inline-flex;">
          <li>
            <a href="#!" class="p-3"><img src="../../../assets/img/frontpage/Path 1033@2x.png" class="img-fluid"
                width="25"></a>
          </li>
          <li>
            <a href="#!" class="p-3"><img src="../../../assets/img/frontpage/Path 1035@2x.png" class="img-fluid"
                width="25"></a>
          </li>
          <li>
            <a href="#!" class="p-3"><img src="../../../assets/img/frontpage/Path 1037@2x.png" class="img-fluid"
                width="25"></a>
          </li>
          <li>
            <a href="#!" class="p-3"><img src="../../../assets/img/frontpage/Path 1039@2x.png" class="img-fluid"
                width="25"></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center pt-5 d-flex bd-highlight">
    <p class="flex-grow-1 bd-highlight text-left px-4">©2020 CRM. All rights reserved.</p><p class="bd-highlight text-left px-4">Terms of services</p><p class="bd-highlight text-left px-4">Privacy policy</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
