<section id="features" class="bg-features p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5">
        <img src="../../../assets/img/frontpage/features_1@2x.png" class="img-fluid mb-2" />
        <img src="../../../assets/img/frontpage/features_2@2x.png" class="img-fluid" />
      </div>
      <div class="col-md-6 text-left color-white p-5 d-flex flex-column bd-highlight">
        <h3 class="bd-highlight">완변한 암호화를 통한 전자서명 <br />
          법적 보호를 받을 수 있는 계약</h3>
        <p class="text-left color-white bd-highlight">
          모두싸인은 [전자문서및전자거래기본법 제4조 제1항]과<br />
          [전자서명법 제3조 제3항]에 따라<br />
          확실한 법적효력을 갖는 전자계약 서비스 입니다. </p>
        <div class="mt-auto bd-highlight ">
          <button class="btn btn-dark">START FREE TRIAL</button>
        </div>

      </div>
    </div>
  </div>
</section>
