<div id="sidebar-wrapper">
  <div class="nav flex-column nav-pills bd-highlight">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a style="padding:20px;display: block;border-bottom:1px solid #eeeeee" href="#/creating-electronic#v-pills-home">
          <button class="btn btn-big-px btn-crimson m-0">
            전자계약서 만들기
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav flex-column nav-pills bd-highlight" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link {{manu.home.c}}" id="v-pills-home-tab" href="#/main" aria-controls="v-pills-home"
      aria-selected="true">
      <fa-icon [icon]="faHome" class="fa-1x"></fa-icon>&nbsp;홈 &nbsp;<fa-icon [icon]="faChevronRight"
        class="fa-1x icon-acrive"></fa-icon>
    </a>

    <a class="nav-link {{manu.template_management.c}}" href="#/template-management#v-pills-management"
      id="v-pills-messages-tab" aria-controls="v-pills-management" aria-selected="false">
      <fa-icon [icon]="faFolderOpen" class="fa-1x"></fa-icon>&nbsp; 템플릿 관리 &nbsp;<fa-icon [icon]="faChevronRight"
        class="fa-1x icon-acrive"></fa-icon>
    </a>


    <a class="nav-link {{manu.contract_management.c}}" id="v-pills-contract-tab" href="#/contract-management"
      aria-controls="v-pills-home" aria-selected="true">
      <fa-icon [icon]="faCopy" class="fa-1x"></fa-icon>&nbsp; 통합 계약 관리 &nbsp;
      <fa-icon [icon]="faChevronRight" class="fa-1x icon-acrive"></fa-icon>
    </a>
    <ul class="sub-manu-side" *ngIf="manu.contract_management.b">
      <li><a href="#/contract-management?requested=requested">요청한 전자계약</a></li>
      <li><a href="#/contract-management?requested=requested_to_me">나에게 요청된 전자 계약</a></li>
    </ul>

    <!-- <a class="nav-link {{manu.contract_management.c}}" id="v-pills-contract-tab"
      href="sending-recipients#v-pills-settings" aria-controls="v-pills-settings" aria-selected="false">수신자 선택 및 전송
      통합 계약 관리
    </a> -->

    <a class="nav-link {{manu.set.c}}" id="v-pills-settings-tab-1" href="#/information-manage#v-pills-settings-1"
      aria-controls="v-pills-settings-1" aria-selected="false">
      <fa-icon [icon]="faCog" class="fa-1x"></fa-icon>&nbsp; 설정 &nbsp;<fa-icon [icon]="faChevronRight"
        class="fa-1x icon-acrive"></fa-icon>
    </a>

    <ul class="sub-manu-side" *ngIf="manu.set.b">
      <li><a href="#/information-manage">내 정보 관리</a></li>
      <li><a href="#/signature-management">서명/도장 관리</a></li>
      <li><a href="#/payment-management">결제 관리</a></li>
      <li><a href="#/inquiry-managemant">내 문의 관리</a></li>
      <li><a href="#/mail-managemant">메일 템플릿 관리</a></li>
      <li><a href="#/organization-management">조직 관리</a></li>
    </ul>



    <!-- <a class="nav-link {{manu.contract_information.c}}" id="v-pills-contract-information-tab"
      href="contract-information#v-pills-contract-information" aria-controls="v-pills-contract-information"
      aria-selected="false">계약서 정보 입력
    </a> -->
  </div>
  <div class="d-flex justify-content-center w-100 flex-row bd-highlight bod-soc-001">
    <div class="p-2 bd-highlight"><span class="img-ico-soc-001 ico-soc-b-001"></span></div>
    <div class="p-2 bd-highlight"><span class="img-ico-soc-001 ico-soc-tal-001"></span></div>
    <div class="p-2 bd-highlight"><span class="img-ico-soc-001 ico-soc-fac-001"></span></div>
  </div>
</div>