#sidebar-wrapper {
  background: rgba(255, 255, 255, 1);

  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 52, 93, 1) 17%,
    rgba(0, 8, 15, 1) 100%
  );

  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(17%, rgba(0, 52, 93, 1)),
    color-stop(100%, rgba(0, 8, 15, 1))
  );

  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 52, 93, 1) 17%,
    rgba(0, 8, 15, 1) 100%
  );

  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 52, 93, 1) 17%,
    rgba(0, 8, 15, 1) 100%
  );

  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 52, 93, 1) 17%,
    rgba(0, 8, 15, 1) 100%
  );

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 52, 93, 1) 17%,
    rgba(0, 8, 15, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00080f', GradientType=0 );
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.t{
  transition: width 4s;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  text-align: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}


#body-row {
    margin-left:0;
    margin-right:0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

.list-group .list-group-item {
  font-size: small;
  color: white !important;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom: #ffffff;
}

.list-group .list-group-item:hover {
  // color: #0091b5 !important;
  color: #37E2BF !important;
}

.list-group  .list-group-item.active {
  z-index:2;
  color:#37E2BF !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


