<div class="bg-modal" *ngIf="show">
    <!-- Modal -->
    <div class="modal fade show" style="display: block;padding-right: 17px;" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-0" style="background: transparent">
          <div class="modal-header rounded-0" style="background: #ffffff;color: #000000;">
            <h5 class="modal-title" id="exampleModalLabel">전자계약서 상세정보 </h5>
            <button type="button" style="color: #000000;" (click)="closeModal()"  class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body rounded-0" style="background: #ffffff;color: #000000;">
            <div class="row">
                <div class="col-md-6">
                    <div class=" card my-2">
                        <div class="card-header">
                            계약서 정보
                          </div>
                        <div class=" card-body">
                            <div class=" card-text">
                                -
                            </div>
                        </div>
                    </div>    
                    <div class=" card my-2">
                        <div class="card-header">
                            계약서 보낸 사람<label for=""></label>
                          </div>
                        <div class=" card-body">
                            <div class=" card-text">
                                -
                            </div>
                        </div>
                    </div>  
                    <div class=" card my-2">
                        <div class="card-header">
                            계약서 받은 사람 
                          </div>
                        <div class=" card-body">
                            <div class=" card-text">
                                -
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="col-md-6">
                    <div class=" card my-2">
                        <div class="card-header">
                            계약서  작성 히스토리
                          </div>
                        <div class=" card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                              </ul>
                        </div>
                    </div>   
                </div>
            </div>
          </div>
          <div class="modal-footer rounded-0 d-flex justify-content-center" style="background: #ffffff;color: #000000;">
            <button type="button" class="btn btn-middle-short btn-white" >아니오</button>
            <button type="button" class="btn btn-middle-short btn-black">예</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  