<section class="container" style="margin-top: 100px;">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7 py-3 text-center">
      <!-- <img src="../../../assets/img/admin/logo_gcont2x.png" class="img-fluid" width="125" /> -->
      <h3>
        <b>가입을 축하합니다!</b>
      </h3>
      <h5>
        아래 로그인 버튼을 클릭하여 GCONT 서비스에 로그인해주세요.
      </h5>
    </div>
  </div>


  <div class="row d-flex justify-content-center">

    <div class="col-md-5 py-3">

      <div class="form-group row ">
        <div class="col-sm-12 d-flex justify-content-center">
          <button type="button" class="btn btn-outline-info">
            로그인 화면으로 이동
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
