<section class="container-fluid" style="background-color: #e2e6eb;">
      <div class="row">
        <div class="col-12">
          <h3>전자계약서 만들기</h3>
          <label>진행할 작업을 선택해주세요.</label>
        </div>
        <div class="col-12">
          <div class="row d-flex flex-wrap">
            <div class="d-flex justify-content-center cre-ele-bod-001">
              <div class="card py-3 sh w-100">
                <div class="card-header text-center"  style="border-bottom: none;background-color: #fff;">
                  <img src="../../../assets/img/icon/icon-f-text.png" class="img-fluid">
                </div>
                <div class="card-body  text-center">
                  <h5 class="card-title">템플릿 만들기</h5>
                  <p class="card-text">계약할 문서를 업로드하여 계약에 필요한 내용을 입력하고 새 템플릿을 만듭니다.</p>
                </div>
                <div class="card-footer text-right" style="border-top: none;background-color: #fff;">
                  <a href="document-upload#v-pills-profile" class="btn btn-circle-big btn-white-circle">
                    <fa-icon [icon]="faArrowRight" class="fa-1x"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center cre-ele-bod-001">
              <div class="card py-3 sh w-100">
                <div class="card-header text-center"  style="border-bottom: none;background-color: #fff;">
                  <img src="../../../assets/img/icon/icon-f-new.png" class="img-fluid">
                </div>
                <div class="card-body  text-center">
                  <h5 class="card-title">템플릿 만들기</h5>
                  <p class="card-text">계약할 문서를 업로드하여 계약에 필요한 내용을 입력하고 새 템플릿을 만듭니다.</p>
                </div>
                <div class="card-footer text-right" style="border-top: none;background-color: #fff;">
                  <a href="select-contract-type" class="btn btn-circle-big btn-white-circle">
                    <fa-icon [icon]="faArrowRight" class="fa-1x"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center cre-ele-bod-001">
              <div class="card py-3 sh w-100">
                <div class="card-header text-center"  style="border-bottom: none;background-color: #fff;">
                  <img src="../../../assets/img/icon/icon-f-s.png" class="img-fluid">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">템플릿 만들기</h5>
                  <p class="card-text">계약할 문서를 업로드하여 계약에 필요한 내용을 입력하고 새 템플릿을 만듭니다.</p>
                </div>
                <div class="card-footer text-right" style="border-top: none;background-color: #fff;">
                  <a href="electronic-contract-authentication-completed" class="btn btn-circle-big btn-white-circle"><fa-icon [icon]="faArrowRight" class="fa-1x"></fa-icon></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<app-submit-certificate></app-submit-certificate>