<section class="container-fluid" style="background: #e2e6eb;">
  <h3 class="my-3 py-2">결제 관리</h3>
  <div class="row">
    <div class="col-12 my-2">
      <label><b>이용 서비스 </b></label><span class="px-5 py-2 mx-2"
        style="background-color: #fa5970;border-radius: 25px;color:#fff">결제하기</span>
    </div>
    <div class="col-12 my-2">
      <label>서비스 내용이 들어갑니다.</label>
    </div>
  </div>
  <app-payment-history></app-payment-history>
  <app-request-refund></app-request-refund>
  <app-refund-details></app-refund-details>
</section>