<div class="bg-modal" *ngIf="show">
    <!-- Modal -->
    <div class="modal fade show" style="display: block;padding-right: 17px;" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-0" style="background: transparent">
          <div class="modal-header rounded-0" style="background: #ffffff;color: #000000;">
            <h5 class="modal-title" id="exampleModalLabel">계약 취소</h5>
            <button type="button" style="color: #000000;"  class="close" (click)="closeModal()" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body rounded-0" style="background: #ffffff;color: #000000;">
            <div class="row">
                <div class="col-md-3 mt-2">
                    취소 Type 
                </div>
                <div class="col-md-9 mt-2">
                    <select class=" form-control">
                        <option>
                            반려
                        </option>
                    </select>
                </div>
                <div class="col-md-3 mt-2">
                    취소 유형 
                </div>
                <div class="col-md-9 mt-2">
                    <textarea class=" form-control" rows="5" style="resize: none;" placeholder="사유를 입력해 주세요.">

                    </textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer rounded-0 d-flex justify-content-center" style="background: #ffffff;color: #000000;">
            <button type="button" class="btn btn-middle-short btn-white" (click)="onClickBtn('btnNo')">아니오</button>
            <button type="button" class="btn btn-middle-short btn-black" (click)="onClickBtn('btnYes')">예</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  