<section>
  <div class="row">
    <div class="col-12">
      <label><b>메일 템플릿 등록</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row mx-0 py-2" style="background: #fff;">
        <div class="col-3 d-flex align-items-center"
          style="border-right: solid 1px #cccccc;border-bottom: solid 1px #cccccc;">
          <label>
            템플릿 명
          </label>
        </div>
        <div class="col-9 py-2" style="border-bottom: solid 1px #cccccc;">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">필수입력</label> -->
            <input type="text" placeholder="템플릿 명 입력" class="form-control">
          </div>
        </div>
        <div class="col-3 d-flex align-items-center" style="border-bottom: solid 1px #cccccc;border-right: solid 1px #cccccc;">
          <label>
            메일 제목
          </label>
        </div>
        <div class="col-9 py-2" style="border-bottom: solid 1px #cccccc;">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">필수입력</label> -->
            <input placeholder="메일 제목을 입력해 주세요." class="form-control w-100">
          </div>
        </div>
        <div class="col-3 d-flex align-items-center" style="border-right: solid 1px #cccccc;">
          <label>
            메일 내용
          </label>
        </div>
        <div class="col-9 py-2">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">필수입력</label> -->
            <textarea rows="3" placeholder="내용을 입력해 주세요." class="form-control w-100"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 col-12 d-flex justify-content-center">
      <button class="btn btn-big btn-crimson">
        등록
      </button>
    </div>
  </div>
</section>
