<ul style="list-style: none;" class="py-3 px-0" *ngIf="config.showTools">
  <li class="sursor-pointer tools-icon text-left" (click)='addTextToPdf("t","text")'>
    <span class="img-ico-edi-001 ico-edi-tex-001"></span>
    <!-- <fa-icon [icon]="faTextHeight" class="fa-1x"></fa-icon> -->
    &nbsp;텍스트
  </li>
  <li class="sursor-pointer tools-icon text-left">
    <span class="img-ico-edi-001 ico-edi-che-001"></span>
    <!-- <fa-icon [icon]="faCheckSquare" class="fa-1x"></fa-icon>  -->
    &nbsp;체크박스
  </li>
  <li class="sursor-pointer tools-icon  text-left" (click)='addTestTypeNumber("number")'>
    <span class="img-ico-edi-001 ico-edi-num-001"></span>
    <!-- <fa-icon [icon]="faSquare" class="fa-1x"></fa-icon>  -->
    &nbsp;숫자
  </li>
  <li class="sursor-pointer tools-icon  text-left" (click)='addTestTypeDate("date")'>
    <span class="img-ico-edi-001 ico-edi-cal-001"></span>
    <!-- <fa-icon [icon]="faCalendarMinus" class="fa-1x"></fa-icon> -->
     &nbsp;날짜
  </li>
  <li class="sursor-pointer tools-icon  text-left" (click)='addTextToPdf("s","singnature s")'>
    <span class="img-ico-edi-001 ico-edi-sin-001"></span>
    <!-- <fa-icon [icon]="faVine" class="fa-1x"></fa-icon>  -->
    &nbsp;서명
  </li>
  <li class="sursor-pointer tools-icon  text-left">
    <span class="img-ico-edi-001 ico-edi-lik-001"></span>
    <!-- <fa-icon [icon]="faLink" class="fa-1x"></fa-icon>  -->
    &nbsp;첨부파일
  </li>




  <!-- <li class="p-2 sursor-pointer tools-icon">
    <img src="../../../../assets/img/admin/pdf-tools/sgs@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li>
  <li class="p-2 sursor-pointer tools-icon">
    <img src="../../../../assets/img/admin/pdf-tools/sgg@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li>
  <li class="p-2 sursor-pointer tools-icon">
    <img src="../../../../assets/img/admin/pdf-tools/t@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li>
  <li class="p-2 sursor-pointer tools-icon" (click)='addTextAr("text ar")'>
    <img src="../../../../assets/img/admin/pdf-tools/ta@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li>
  <li class="p-2 sursor-pointer tools-icon">
    <img src="../../../../assets/img/admin/pdf-tools/date@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li>
  <li class="p-2 sursor-pointer tools-icon">
    <img src="../../../../assets/img/admin/pdf-tools/123@80x80.png" class="img-fluid" />
  </li>
  <li class="my-2" style="border-top: solid 1px #e9e9e9;"></li> -->
</ul>


<!-- <ul style="list-style: none;" class="p-3">
  <li *ngFor="let color of colors;let i = index" style="width: 50;height: 50px;">
    <div class="w-100 h-100 m-1 sursor-pointer" (click)='selectColor(color)'
      [ngStyle]="{'background' : 'rgb(' +color.r+','+ color.g+','+color.b+ ')'}">
    </div>
  </li>
</ul> -->