.tools-icon {
  color: #dddddd;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  width: 120px;
  height: 46px;
  padding: 13px 0 14px 21px;
  margin: 15px 0 15px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.tools-icon:hover {
  border: solid 1px #333333;
  color: #ffffff;
  background: #333333;
}

.sursor-pointer {
  cursor: pointer;
}
