<section id="about" class="about-section text-center p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="mb-4 color-blue">왜 iBizSoftware 전자 계약인가?</p>
        <h3 class="text-black">전자계약서를 통해서 달라진 근로계약을 경험해보세요.</h3>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3 p-1 cp">
        <div class="bg-item-about mt-md-5 tmt text-left p-3">
          <img src="../../../assets/img/frontpage/ic_backup_24px@2x.png" class="img-fluid m-3" width="50">
          <h4 class="color-blue">문서 업로드</h4>
          <p class="m-0">
            사용하시던 계약 양식 그대로 사용하세요!
            PDF, JPG, PNG 파일 그대로 사용하실 수 있습니다! (워드 및 한글 편집기에서 간단하게 파일 변화하여 업로드하시면 됩니다!
          </p>
        </div>
      </div>
      <div class="col-md-3 p-1 cp">
        <div class="bg-item-about tmb text-left p-3">
          <img src="../../../assets/img/frontpage/Icon_mail@2x.png" class="img-fluid m-3" width="50">
          <h4 class="color-blue text-left">서명 요청하기</h4>
          <p class="m-0">
            카카오톡 링크를 통해서 간단하게 서명 요청을 하실 수 있습니다.
          </p>
        </div>
      </div>
      <div class="col-md-3 p-1 cp">
        <div class="bg-item-about mt-md-5 tmt text-left p-3">
          <img src="../../../assets/img/frontpage/ic_fingerprint_24px@2x.png" class="img-fluid m-3" width="50">
          <h4 class="color-blue text-left">서명 입력하기</h4>
          <p class="m-0">
            언제 어디서나 웹, 모바일, 테블릿 등을 통해서 3분 안에 계약서 검토와 전자서명을 끝낼 수 있습니다.
          </p>
        </div>
      </div>
      <div class="col-md-3 p-1 cp">
        <div class="bg-item-about tmb text-left p-3">
          <img src="../../../assets/img/frontpage/Component 16 – 1@2x.png" class="img-fluid m-3" width="50">
          <h4 class="color-blue text-left">계약 완료!</h4>
          <p class="m-0">
            완료된 계약서는 완벽하게 암호화 되어 법적인 보호를 받으며 안전하게 보관 됩니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
