@import '../../../assets/scss/frontpage/variables.scss';

.bg-item-about{
  background-color: rgba(255,255,255,0.5);
}
.bg-item-about:hover{
  background-color: rgba(33,33,33,0.5);
}

// .tmt{
//   transition:  margin 0.5s;
// }

// .tmt:hover{
//   margin-top: 0rem!important;
// }

// .tmb{
//   transition:  margin 0.5s;
// }

// .tmb:hover{
//   margin-top: 1rem!important;
// }

.about-section {
  min-height: 100vh;
  // padding-top: 10rem;
  background:  url('/assets/img/frontpage/contractlaw.png') center center no-repeat;
  background-size: cover;
  p {
    margin-bottom: 5rem;
  }
}

@media (max-width: 420px ) {
  .about-section {
    background:  url('/assets/img/frontpage/contractlaw-small.png') center center no-repeat;
    p {
      margin-bottom: 5rem;
    }
  }
}

