.clt,
.clt ul,
.clt li {
  position: relative;
  width: auto;
}

.clt ul {
  list-style: none;
  padding-left: 32px;
}

.clt li::before,
.clt li::after {
  content: "";
  position: absolute;
  left: -12px;
}

.clt li::before {
  border-top: 1px dotted #000;
  top: 9px;
  width: 8px;
  height: 0;
}

.clt li::after {
  border-left: 1px dotted #000;
  height: 100%;
  width: 0px;
  top: 2px;
}

.clt ul > li:last-child::after {
  height: 8px;
}

.caret::before {
  content: "+";
  color: blue;
  border: solid 1px blue;
  display: inline-block;
  margin-right: 6px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  margin-bottom: 4px;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.caret-down::before {
  content: "-";
  color: red;
  border: solid 1px red;
  display: inline-block;
  margin-right: 6px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  margin-bottom: 4px;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.nested {
  display: none;
}

.active {
  display: block;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
