<section class="container-fluid">
  <div class="row">
    <h4>
      계약서 만들기      계약서 종류 선택
    </h4>
  </div>
  <div class="row py-5">
    <div class="col-md-3">
      <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded type" style="height: 250px;">
        <fa-icon [icon]="faHandshake" class="fa-4x icon-btn"></fa-icon>
        <span>표준근로 계약서 </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded type" style="height: 250px;">
        <fa-icon [icon]="faFileSignature" class="fa-4x icon-btn"></fa-icon>
        <span> 아르바이트 근로계약서  </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded type" style="height: 250px;">
        <fa-icon [icon]="faSign" class="fa-4x icon-btn"></fa-icon>
        <span> 부동산 임대계약서  </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="w-100 d-flex flex-column justify-content-center align-items-center rounded type" style="height: 250px;">
        <fa-icon [icon]="faBlender" class="fa-4x icon-btn"></fa-icon>
        <span> 차용증  </span>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-big btn-crimson" type="button">다음</button>
    </div>
  </div>
</section>
