.btn-pag-pre-001 {
    width: 28px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #bbbbbb;
}
.btn-pag-pre-001:hover {
    width: 28px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.btn-pag-nex-001:hover  {
    width: 28px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.btn-pag-nex-001 {
    width: 28px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #bbbbbb;
}

.btn-pag-num-act-001 > .btn-pag-num-001 {
    background-color: #888888 !important;
    color: #ffffff !important;
    border-radius: 50% !important;
}

.btn-pag-num-001 {
    width: 28px;
    height: 28px;
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #e2e6eb;
    background-color: #e2e6eb;
    border-radius: 50%;
}

.btn-pag-num-001:hover {
    background-color: #888888 !important;
    color: #ffffff !important;
    border-radius: 50% !important;
}
