<section id="service" class="text-center p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <p class="color-blue text-left">For better convenient future smart contract life.</p>
        <h3 class="text-black text-left">근로자 계약 부터 부동산 계약까지 다양한 계약서에 사용하실 수 있어요!</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="offset-2 col-lg-10">
        <p class="text-left">We take your construction documents (drawings, plumbing diagrams, RF design sheets, etc.)
          and create custom
          requirements lists on a site-by-site basis. Be confident you're collecting everything needed to close out.</p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 p-1 d-flex justify-content-center mb-4 cp">
        <div class="bg-item-service p-3 rounded-circle d-flex align-items-center">
          <div class="text-center w-100">
            <h4 class="color-white">근로/용역</h4>
            <p class="m-0 color-white">
              근로, 연봉 계약서 등,
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1 d-flex justify-content-center mb-4 cp">
        <div class="bg-item-service p-3 rounded-circle d-flex align-items-center">
          <div class="text-center  w-100">
            <h4 class="color-white">동의서</h4>
            <p class="m-0 color-white">
              동의서, 확인서, 신청서 등...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1 d-flex justify-content-center mb-4 cp">
        <div class="bg-item-service p-3 rounded-circle d-flex align-items-center">
          <div class="text-center w-100">
            <h4 class="color-white">입점/가맹/공급 </h4>
            <p class="m-0 color-white">
              쇼핑몰, 사무실 임대 계약서,
              가맹, 대리점 계약서,
              용역, 외주, 발주 등...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
