<section>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-small-long btn-white">
        삭제
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="w-100 table table-hover" style="background: #fff;">
        <thead class="">
          <tr>
            <th class="text-center" style="width: 10%;">
              선택
            </th>
            <th class="text-center" style="width: 90%;">
              템플릿 명
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let t of td">
            <tr>
              <td class="text-center">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input">
                </div>
              </td>
              <td class="text-left">
                {{t.people}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
