<section>
  <h5 class="text-center">
    엑셀 대량 전송
  </h5>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 my-2">
      <ol>
        <li>아래 엑셀 파일 양식을 다운로드 받습니다.</li>
        <li>다운로드 받으신 엑셀 파일을 열어서 컬럼 순서에 맞게 계약 대상자들을 입력해주세요. (컬럼 정보가 비어 있어서는 안됩니다.)</li>
        <li>입력이 완료 되시면 해당 파일을 다시 업로드해주세요.</li>
        <li>엑셀 파일을 업로드하시면 등록된 수신자 리스트를 확인하실 수 있습니다.</li>
      </ol>
    </div>
    <div class="col-12 col-md-9 d-flex justify-content-center my-2">
      <div class="col-6 d-flex flex-column justify-content-center">
        <div class="text-center">
          <img src="../../../assets//img/icon/excel.png" width="100px" class="img-fluid">
        </div>
        <h6 class="text-center">수신자 리스트.xlsx</h6>
        <a href="#" target="_blank" class="btn btn-middle-long btn-white">
          <fa-icon [icon]="faDownload" class="fa-1x icon-btn"></fa-icon>
          다운로드
        </a>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center text-center">
        <div class="text-center">
          <img src="../../../assets//img/icon/clouds-icon-png.png" width="100px" class="img-fluid">
        </div>
        <h6 class="text-center">&nbsp;</h6>
        <input style="display: none;" (change)="addfile($event)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file" #file >
        <button class="btn btn-middle-long btn-white"  (click)="file.click()">
          <fa-icon [icon]="faUpload" class="fa-1x icon-btn"></fa-icon>
          파일 업로드
        </button>
      </div>
    </div>
  </div>
</section>
