<section>
  <div class="row">
    <div class="col-12 mt-3">
      <label class=""><b>문의하기</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row mx-0 py-2" style="background: #fff;">
        <div class="col-3 d-flex align-items-center"
          style="border-right: solid 1px #cccccc;border-bottom: solid 1px #cccccc;">
          <label>
            등록일
          </label>
        </div>
        <div class="col-9">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">필수입력</label> -->
            <input type="text" placeholder="이메일 입력" class="form-control">
          </div>
        </div>
        <div class="col-3 d-flex align-items-center" style="border-right: solid 1px #cccccc;">
          <label>
            등록일
          </label>
        </div>
        <div class="col-9">
          <div class="form-group">
            <!-- <label for="formGroupExampleInput">필수입력</label> -->
            <textarea rows="3" placeholder="이메일 입력" class="form-control w-100"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 col-12 d-flex justify-content-center">
      <button class="btn btn-big btn-crimson">
        등록
      </button>
    </div>
  </div>
</section>
